# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

#rom stuff
*.gbc
*.gb
*.sav
*.ups

#the programs
*.exe
Event Assembler
ups

#files you are expected to build
graphics/*.bin
compressed/*.bin
compressed/*.bin.dmp
dialogue.event
fontGraphics.event
fontWidth.event
names.event
system.event

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Engine Hacks/MSS/mss_defs.dmp
Engine Hacks/MSS/mss_page4.dmp
Engine Hacks/MSS/mss_defs.dmp
Instructions.txt
*.ups
*.sym
